@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #18181b;
  --foreground: #fafafa;
}

body {
  color: var(--foreground);
  background: var(--background);
}

html {
  scroll-behavior: smooth;
}

/* Code blocks */
.pre {
  overflow-x: auto;
  border-radius: 0.5rem;
  background-color: #18181b !important;
  padding: 1.5rem !important;
  margin: 1.5rem 0 !important;
}

.code {
  display: grid;
  counter-reset: line;
}

.line {
  padding: 0.125rem 1rem;
  border-left-width: 2px;
  border-left-color: transparent;
}

/* Inline code */
:not(pre) > code {
  padding: 0.2rem 0.4rem;
  font-size: 0.875em;
  background-color: rgb(24 24 27);
  color: rgb(52 211 153);
  border-radius: 0.25rem;
  font-weight: 500;
}

:not(pre) > code::before,
:not(pre) > code::after {
  display: none;
}

/* Scroll */

* {
  scrollbar-width: thin;
  scrollbar-color: #3f3f46 var(--background);
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--background);
}

*::-webkit-scrollbar-thumb {
  background-color: #3f3f46;
  border-radius: 9999px;
  border: 2px solid var(--background);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #52525b;
}

*::-webkit-scrollbar-corner {
  background: var(--background);
}
